################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ComercialManagmentSystem/.vs/ComercialManagmentSystem/DesignTimeBuild/.dtbcache.v2
*.vsidx
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/FileContentIndex/baaa0c82-adf1-4588-9f5c-81b1e1cd4aa6.vsidx
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/FileContentIndex/c33fb220-b53a-4422-b2ba-6822c71b0846.vsidx
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/FileContentIndex/d159eb2a-4c94-4f39-acf3-d8ad87861f68.vsidx
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/FileContentIndex/d5df0163-a2e0-4107-89e4-9ba19a333110.vsidx
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/v17/.suo
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/v17/.futdcache.v2
/ComercialManagmentSystem/.vs/ProjectEvaluation/comercialmanagmentsystem.metadata.v7.bin
/ComercialManagmentSystem/.vs/ProjectEvaluation/comercialmanagmentsystem.projects.v7.bin
/ComercialManagmentSystem/Aplication/bin/Debug/net6.0
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/refint
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/ref
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/CMS.Aplication.assets.cache
*.cache
*.txt
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/CMS.Aplication.dll
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/CMS.Aplication.GeneratedMSBuildEditorConfig.editorconfig
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/CMS.Aplication.pdb
/ComercialManagmentSystem/Aplication/obj/CMS.Aplication.csproj.nuget.dgspec.json
/ComercialManagmentSystem/Aplication/obj/CMS.Aplication.csproj.nuget.g.props
/ComercialManagmentSystem/Aplication/obj/project.assets.json
/ComercialManagmentSystem/Aplication/obj/project.nuget.cache
/ComercialManagmentSystem/CMS.Domain/bin/Debug/net6.0
/ComercialManagmentSystem/CMS.Domain/obj/Debug/net6.0/ref
/ComercialManagmentSystem/CMS.Domain/obj/Debug/net6.0/refint
/ComercialManagmentSystem/CMS.Infraestructure/bin/Debug/net6.0
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/ref
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/refint
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/CMS.Infraestructure.assets.cache
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/CMS.Infraestructure.csproj.AssemblyReference.cache
*.CopyComplete
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/CMS.Infraestructure.dll
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/CMS.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0
/ComercialManagmentSystem/CMS.Infraestructure/obj/CMS.Infraestructure.csproj.nuget.dgspec.json
/ComercialManagmentSystem/CMS.Infraestructure/obj/CMS.Infraestructure.csproj.nuget.g.props
/ComercialManagmentSystem/CMS.Infraestructure/obj/project.assets.json
/ComercialManagmentSystem/CMS.Infraestructure/obj/project.nuget.cache
/ComercialManagmentSystem/CMS.Utils/bin/Debug/net6.0
/ComercialManagmentSystem/CMS.Utils/obj/Debug/net6.0/ref
/ComercialManagmentSystem/CMS.Utils/obj/Debug/net6.0/refint
/ComercialManagmentSystem/CMS.Utils/obj/Debug/net6.0/CMS.Utils.assets.cache
*.dll
*.pdb
/ComercialManagmentSystem/CMS.Utils/obj/Debug/net6.0/CMS.Utils.GeneratedMSBuildEditorConfig.editorconfig
/ComercialManagmentSystem/CMS.Utils/obj/CMS.Utils.csproj.nuget.dgspec.json
/ComercialManagmentSystem/CMS.Utils/obj/CMS.Utils.csproj.nuget.g.props
/ComercialManagmentSystem/CMS.Utils/obj/project.assets.json
/ComercialManagmentSystem/CMS.Utils/obj/project.nuget.cache
/ComercialManagmentSystem/CMS.WebAPI/bin/Debug/net6.0
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/staticwebassets
/ComercialManagmentSystem/CMS.Domain/obj/Debug/net6.0/CMS.Domain.assets.cache
/ComercialManagmentSystem/CMS.Domain/obj/Debug/net6.0/CMS.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ComercialManagmentSystem/CMS.Domain/obj/CMS.Domain.csproj.nuget.dgspec.json
/ComercialManagmentSystem/CMS.Domain/obj/CMS.Domain.csproj.nuget.g.props
/ComercialManagmentSystem/CMS.Domain/obj/project.assets.json
/ComercialManagmentSystem/CMS.Domain/obj/project.nuget.cache
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/apphost.exe
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/CMS.WebAPI.csproj.AssemblyReference.cache
/ComercialManagmentSystem/CMS.WebAPI/obj/project.nuget.cache
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/CMS.WebAPI.assets.cache
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/CMS.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
*.cs
*.json
/ComercialManagmentSystem/CMS.WebAPI/obj/CMS.WebAPI.csproj.nuget.dgspec.json
/ComercialManagmentSystem/CMS.WebAPI/obj/CMS.WebAPI.csproj.nuget.g.props
/ComercialManagmentSystem/CMS.WebAPI/obj/project.assets.json
/.vs/CommercialManagementSystem/v17/.wsuo
/.vs/VSWorkspaceState.json
/ComercialManagmentSystem/.vs/ComercialManagmentSystem/FileContentIndex/read.lock
/ComercialManagmentSystem/Aplication/obj/Debug/net6.0/CMS.Aplication.AssemblyInfoInputs.cache
/ComercialManagmentSystem/CMS.Infraestructure/obj/Debug/net6.0/CMS.Infraestructure.AssemblyInfoInputs.cache
/ComercialManagmentSystem/CMS.Utils/obj/Debug/net6.0/CMS.Utils.AssemblyInfoInputs.cache
/ComercialManagmentSystem/CMS.WebAPI/obj/Debug/net6.0/CMS.WebAPI.AssemblyInfoInputs.cache
/ComercialManagmentSystem/CMS.Domain/obj/Debug/net6.0/CMS.Domain.AssemblyInfoInputs.cache
